h2 Create new user
form(action="/users/create" method="POST")
    label(id="uid")
    input(type="text", placeholder="Your uid", name="uid")
    label(id="name")
    input(type="text", placeholder="Your name", name="name")
    label(id="email")
    input(type="text", placeholder="Your email address", name="email")
    label(id="password")
    input(type="text", placeholder="Your password", name="password")
    label(id="phone")
    input(type="text", placeholder="Your phoneNumber", name="phone")
    label(id="dateOfBirth")
    input(type="date", placeholder="Your dateOfBirth", name="dateOfBirth")
    label(id="type")
    input(type="text", placeholder="Your type", name="type")
    input(type="submit")